#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp
build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	touch build-stamp
clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	# Create directories and copy files
	# Build the sctructure
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/applications
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/pixmaps
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/touchpad-indicator/img
	# Copy files
	cp src/img/*.svg ${CURDIR}/debian/touchpad-indicator/usr/share/touchpad-indicator/img/
	cp src/img/*.svg ${CURDIR}/debian/touchpad-indicator/usr/share/pixmaps/
	cp src/touchpad-indicator-autostart.desktop ${CURDIR}/debian/touchpad-indicator/usr/share/touchpad-indicator/
	cp src/Touchpad-Indicator.desktop ${CURDIR}/debian/touchpad-indicator/usr/share/applications/	
	# Structure and source files
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/touchpad-indicator
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/touchpad-indicator/pyudev
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/touchpad-indicator/img
	#######################################################
	cp src/*.py ${CURDIR}/debian/touchpad-indicator/usr/share/touchpad-indicator/
	cp src/pyudev/*.py ${CURDIR}/debian/touchpad-indicator/usr/share/touchpad-indicator/pyudev/
	# End create directories and copy files
	# Create languages directories
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/en/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/fr/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/lt/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/de/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/it/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/zh_CN/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/fi/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ru/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/gl/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/es/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/pl/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ka/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/id/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ca/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/tr/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/cs/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/nl/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/pt_BR/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/en_GB/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/eu/LC_MESSAGES
	# End create languages directories
	# Compile languages
	msgfmt template1/en.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/en/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/fr.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/fr/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/lt.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/lt/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/de.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/de/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/it.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/it/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/zh_CN.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/zh_CN/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/fi.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/fi/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/ru.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ru/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/gl.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/gl/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/es.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/es/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/pl.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/pl/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/ka.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ka/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/id.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/id/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/ca.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ca/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/tr.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/tr/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/cs.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/cs/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/nl.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/nl/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/pt_BR.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/pt_BR/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/en_GB.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/en_GB/LC_MESSAGES/touchpad-indicator.mo
	msgfmt template1/eu.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/eu/LC_MESSAGES/touchpad-indicator.mo
	# End comile languages
	# Build architecture-independent files here.
binary-indep: build install
	# We have nothing to do by default.
	# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	# dh_install
	# dh_installmenu
	# dh_installdebconf
	# dh_installlogrotate
	# dh_installemacsen
	# dh_installpam
	# dh_installmime
	# dh_python
	# dh_installinit
	# dh_installcron
	# dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	# dh_perl
	# dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
