Source: touchpad-indicator
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python-support, python (>=2.4)
Standards-Version: 3.9.1
Homepage: http://www.atareao.es

Package: touchpad-indicator
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
	gir1.2-gtk-3.0,
	gir1.2-gdkpixbuf-2.0,
	gir1.2-appindicator3-0.1,
	gir1.2-notify-0.7,
	gir1.2-gconf-2.0,
	python-pyudev,		
	python-dbus
Description: Indicator for the Touchpad
