[Desktop Entry]
Name = Touchpad-Indicator
GenericName = Touchpad-Indicator
Comment = An indicator for the Touchpad
Exec = /opt/extras.ubuntu.com/touchpad-indicator/bin/touchpad-indicator
Icon = /opt/extras.ubuntu.com/touchpad-indicator/share/touchpad-indicator/icons/touchpad-indicator.svg
Type = Application
Terminal = false
StartupNotify = true
Encoding = UTF-8
Categories = Utility;
X-Ubuntu-Gettext-Domain = touchpad-indicator
Name[it] = Touchpad-Indicator
Name[eu] = Touchpad-Indicator
Name[uk] = Touchpad-Indicator
Name[en_GB] = Touchpad-Indicator
Name[nl] = Touchpad-Indicator
Name[de] = Touchpad-Indicator
Name[sv] = Touchpad-Indicator
Name[en] = Touchpad-Indicator
Name[ru] = Touchpad-Indicator
Name[pt_BR] = Touchpad-Indicator
Name[gl] = Touchpad-Indicator
Name[sk] = Touchpad-Indicator
Name[es] = Touchpad-Indicator
Name[vi] = Touchpad-Indicator
Name[tr] = Touchpad-Indicator
Name[ca] = Touchpad-Indicator
Name[ja] = Touchpad-Indicator
Name[zh_CN] = Touchpad-Indicator
Name[sr] = Touchpad-Indicator
Name[id] = Touchpad-Indicator
Name[cs] = Touchpad-Indicator
Name[ka] = Touchpad-Indicator
Name[lt] = Touchpad-Indicator
Name[pl] = Touchpad-Indicator
Name[fr] = Touchpad-Indicator
Name[zh_TW] = Touchpad-Indicator
Name[fi] = Touchpad-Indicator
GenericName[it] = Touchpad-Indicator
GenericName[eu] = Touchpad-Indicator
GenericName[uk] = Touchpad-Indicator
GenericName[en_GB] = Touchpad-Indicator
GenericName[nl] = Touchpad-Indicator
GenericName[de] = Touchpad-Indicator
GenericName[sv] = Touchpad-Indicator
GenericName[en] = Touchpad-Indicator
GenericName[ru] = Touchpad-Indicator
GenericName[pt_BR] = Touchpad-Indicator
GenericName[gl] = Touchpad-Indicator
GenericName[sk] = Touchpad-Indicator
GenericName[es] = Touchpad-Indicator
GenericName[vi] = Touchpad-Indicator
GenericName[tr] = Touchpad-Indicator
GenericName[ca] = Touchpad-Indicator
GenericName[ja] = Touchpad-Indicator
GenericName[zh_CN] = Touchpad-Indicator
GenericName[sr] = Touchpad-Indicator
GenericName[id] = Touchpad-Indicator
GenericName[cs] = Touchpad-Indicator
GenericName[ka] = Touchpad-Indicator
GenericName[lt] = Touchpad-Indicator
GenericName[pl] = Touchpad-Indicator
GenericName[fr] = Touchpad-Indicator
GenericName[zh_TW] = Touchpad-Indicator
GenericName[fi] = Touchpad-Indicator
Comment[it] = Un indicatore per il touchpad
Comment[eu] = Touchpad adierazlea
Comment[uk] = Індикатор для сенсорної панелі
Comment[en_GB] = An indicator for the Touchpad
Comment[nl] = Een indicator voor het touchpad
Comment[de] = Ein Indikator für das Touchpad
Comment[sv] = En indikator för styrplatta
Comment[en] = An indicator for the Touchpad
Comment[ru] = Индикатор тачпада
Comment[pt_BR] = Um indicador para o Touchpad
Comment[gl] = Un indicador para o panel táctil
Comment[sk] = Indikátor touchpadu
Comment[es] = Un indicador para el touchpad
Comment[vi] = Một chỉ báo cho Touchpad
Comment[tr] = An indicator for the Touchpad
Comment[ca] = Un indicador pel touchpad
Comment[ja] = タッチパッド用インジケーター
Comment[zh_CN] = 触摸板指示器
Comment[sr] = Указивач за Додирну таблу
Comment[id] = Indikator untuk Touchpad
Comment[cs] = Indikátor pro touchpad
Comment[ka] = სერნსორული პანელის ინდიკატორი
Comment[lt] = Jutiklinio kilimėlio (touchpad) indikatorius
Comment[pl] = Wskaźnik Touchpad
Comment[fr] = Une notification pour le pavé tactilé
Comment[zh_TW] = An indicator for the Touchpad
Comment[fi] = Ilmaisin kosketuslevyä varten
