[Desktop Entry]
Name = Touchpad-Indicator
GenericName = Touchpad-Indicator
Comment = An indicator for the Touchpad
Exec = /usr/bin/touchpad-indicator
Icon = /usr/share/pixmaps/touchpad-indicator.svg
Type = Application
Terminal = false
StartupNotify = true
Encoding = UTF-8
Categories = Utility;
X-Ubuntu-Gettext-Domain = touchpad-indicator
Name[eu] = 
Name[sr] = 
Name[sv] = 
Name[it] = 
Name[en] = 
Name[ja] = 
Name[pt_BR] = 
Name[uk] = 
Name[zh_TW] = 
Name[cs] = 
Name[tr] = 
Name[lt] = 
Name[pl] = 
Name[zh_CN] = 
Name[ru] = 
Name[gl] = 
Name[ka] = 
Name[sk] = 
Name[nl] = 
Name[ca] = 
Name[id] = 
Name[en_GB] = 
Name[es] = 
Name[fr] = 
Name[de] = 
Name[vi] = 
Name[fi] = 
GenericName[eu] = 
GenericName[sr] = 
GenericName[sv] = 
GenericName[it] = 
GenericName[en] = 
GenericName[ja] = 
GenericName[pt_BR] = 
GenericName[uk] = 
GenericName[zh_TW] = 
GenericName[cs] = 
GenericName[tr] = 
GenericName[lt] = 
GenericName[pl] = 
GenericName[zh_CN] = 
GenericName[ru] = 
GenericName[gl] = 
GenericName[ka] = 
GenericName[sk] = 
GenericName[nl] = 
GenericName[ca] = 
GenericName[id] = 
GenericName[en_GB] = 
GenericName[es] = 
GenericName[fr] = 
GenericName[de] = 
GenericName[vi] = 
GenericName[fi] = 
Comment[eu] = Touchpad adierazlea
Comment[sr] = Указивач за Додирну таблу
Comment[sv] = En indikator för styrplatta
Comment[it] = Un indicatore per il touchpad
Comment[en] = An indicator for the Touchpad
Comment[ja] = タッチパッド用インジケーター
Comment[pt_BR] = Um indicador para o Touchpad
Comment[uk] = Індикатор для сенсорної панелі
Comment[zh_TW] = 
Comment[cs] = Indikátor pro touchpad
Comment[tr] = 
Comment[lt] = Jutiklinio kilimėlio (touchpad) indikatorius
Comment[pl] = Wskaźnik Touchpad
Comment[zh_CN] = 触摸板指示器
Comment[ru] = Индикатор тачпада
Comment[gl] = Un indicador para o panel táctil
Comment[ka] = სერნსორული პანელის ინდიკატორი
Comment[sk] = Indikátor touchpadu
Comment[nl] = Een indicator voor het touchpad
Comment[ca] = Un indicador pel touchpad
Comment[id] = Indikator untuk Touchpad
Comment[en_GB] = An indicator for the Touchpad
Comment[es] = Un indicador para el touchpad
Comment[fr] = Une notification pour le pavé tactilé
Comment[de] = Ein Indikator für das Touchpad
Comment[vi] = Một chỉ báo cho Touchpad
Comment[fi] = Ilmaisin kosketuslevyä varten
