[Desktop Entry]
Name = Touchpad-Indicator
Exec = /usr/bin/touchpad-indicator
Comment = An indicator for the Touchpad
Icon = /usr/share/pixmaps/touchpad-indicator.svg
Type = Application
Terminal = false
StartupNotify = true
Encoding = UTF-8
Categories = Utility;
Name[eu]  = Touchpad-Indicator
Name[sr]  = Touchpad-Indicator
Name[sv]  = Touchpad-Indicator
Name[it]  = Touchpad-Indicator
Name[en]  = Touchpad-Indicator
Name[ja]  = Touchpad-Indicator
Name[pt_BR]  = Touchpad-Indicator
Name[uk]  = Touchpad-Indicator
Name[zh_TW]  = Touchpad-Indicator
Name[cs]  = Touchpad-Indicator
Name[tr]  = Touchpad-Indicator
Name[lt]  = Touchpad-Indicator
Name[pl]  = Touchpad-Indicator
Name[zh_CN]  = Touchpad-Indicator
Name[ru]  = Touchpad-Indicator
Name[gl]  = Touchpad-Indicator
Name[ka]  = Touchpad-Indicator
Name[sk]  = Touchpad-Indicator
Name[nl]  = Touchpad-Indicator
Name[ca]  = Touchpad-Indicator
Name[id]  = Touchpad-Indicator
Name[en_GB]  = Touchpad-Indicator
Name[es]  = Touchpad-Indicator
Name[fr]  = Touchpad-Indicator
Name[de]  = Touchpad-Indicator
Name[vi]  = Touchpad-Indicator
Name[fi]  = Touchpad-Indicator
Comment[eu]  = Touchpad adierazlea
Comment[sr]  = Указивач за Додирну таблу
Comment[sv]  = En indikator för styrplatta
Comment[it]  = Un indicatore per il touchpad
Comment[en]  = An indicator for the Touchpad
Comment[ja]  = タッチパッド用インジケーター
Comment[pt_BR]  = Um indicador para o Touchpad
Comment[uk]  = Індикатор для сенсорної панелі
Comment[zh_TW]  = An indicator for the Touchpad
Comment[cs]  = Indikátor pro touchpad
Comment[tr]  = An indicator for the Touchpad
Comment[lt]  = Jutiklinio kilimėlio (touchpad) indikatorius
Comment[pl]  = Wskaźnik Touchpad
Comment[zh_CN]  = 触摸板指示器
Comment[ru]  = Индикатор тачпада
Comment[gl]  = Un indicador para o panel táctil
Comment[ka]  = სერნსორული პანელის ინდიკატორი
Comment[sk]  = Indikátor touchpadu
Comment[nl]  = Een indicator voor het touchpad
Comment[ca]  = Un indicador pel touchpad
Comment[id]  = Indikator untuk Touchpad
Comment[en_GB]  = An indicator for the Touchpad
Comment[es]  = Un indicador para el touchpad
Comment[fr]  = Une notification pour le pavé tactilé
Comment[de]  = Ein Indikator für das Touchpad
Comment[vi]  = Một chỉ báo cho Touchpad
Comment[fi]  = Ilmaisin kosketuslevyä varten

