[Desktop Entry]
Name=Touchpad-Indicator
Exec=/usr/bin/touchpad-indicator
Comment=Touchpad-Indicator
Icon=/usr/share/pixmaps/touchpad-indicator.svg
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Utility;
