[Desktop Entry]
_Name = An indicator for the Touchpad
_Comment = An indicator for the Touchpad
Exec = /usr/bin/touchpad-indicator
Icon = /usr/share/pixmaps/touchpad-indicator.svg
Type = Application
Terminal = false
StartupNotify = true
Encoding = UTF-8
Categories = Utility;
X-Ubuntu-Gettext-Domain=touchpad-indicator
