[Desktop Entry]
Name=Touchpad-Indicator
Version=0.8.1.0
Exec=/usr/share/touchpad-indicator/touchpad-indicator.py
Comment=Touchpad-Indicator
Icon=/usr/share/pixmaps/touchpad-indicator.svg
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Utility;
